[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
jsonify = "*"
mongoengine = "*"
mongoengine-goodjson = "*"

[dev-packages]

[requires]
python_version = "3.8"
